.skills-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.icon-skill {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 9rem;
    width: 5rem;
    margin: 1rem;
}

.icon-skill i {
    font-size: 4rem;
}
