
@import url("https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css");

@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');
@import url('https://fonts.googleapis.com/css?family=Mukta+Mahee');
@import url('https://fonts.googleapis.com/css?family=Cousine');
@import url('https://fonts.googleapis.com/css?family=Fira+Mono');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');
@import url('https://fonts.googleapis.com/css?family=Overpass+Mono');

/*
    foxes
    url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSD4zbzPEttF62Tyk8VW4D1dG9DHLtM-Tkdnc1fXQjJgjw5Iiqt)
    whales
    url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSi_QCPGq95J8GeHXkBC5y-Xgq2eiKFQnidmziRiVvdlu0iOyP2)
    cactuses
    url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcStE5T8M8cYWYyXqjEG34-7ztVvCVVWN3sKH9XSGs26EMEqVBij1Q)
    shapes
    url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRcFp7SsyLSiB-SQoXCJp5y2HWbQbZH99pMZ-MNL0HfuUUu46w2lA)
    watermelons
    url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCsw8-EAALLKuNJ8uRgY1OCnjefOSU0wCpcOG17BTRL7IVGf3O)
*/

#scrollbar {
    position: fixed;
    top: calc(2px + 4 * (100vw - 769px) / 2048);
    right: calc(2px + 4 * (100vw - 769px) / 2048);
    height: 0px;
    width: 7.5px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    transition: width .4s ease, height .4s ease, top .4s ease;
}

html,
body,
#root {
    height: 100%;
    width: 100vw;
    margin: 0;
    padding: 0;
    font-family:
        /* 'Overpass Mono', */
        Inconsolata,
        'Mukta Mahee',
        Cousine,
        'Fira Mono',
        'Ubuntu Mono',
        Roboto;
    /* color: rgba(255, 255, 255, 0.75); */
}

#root {
    background-image: linear-gradient(to top right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.35));
    transition: background-color 1.2s;
}

#background {
    /* filter: blur(4px); */
}

#backdrop-filter {
    /* RED WALL */
    background-image: url(https://images.unsplash.com/photo-1484009479330-67a6e7339295?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5c4048aba6e4800f69c82e067899a275&auto=format&fit=crop&w=600&q=60);
    filter: blur(9px) brightness(180%) contrast(115%);
    background-position-y: 44%;
    background-attachment: fixed;
    
    /* END */
    background-size: cover;
    position: fixed;
    top: -15px;
    left: -15px;
    right: -15px;
    bottom: -15px;
    z-index: -2;
    /* display: none; */
}

::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
    color: #000;
}

.touch {
    position: fixed;
    background: radial-gradient(circle at center, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4), transparent, transparent);
    transition: 0.05s;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    z-index: 99999;
}

/* THEME */

#logo-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 12.5vw;
    height: 12.5vw;
    /* responsive heights */
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo-circle {
    /* height: 85px; */
    /* width: 85px; */
    height: calc(80px + 64 * (100vw - 769px) / 2048);
    width: calc(80px + 64 * (100vw - 769px) / 2048);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.2);
    /* background: rgba(15, 230, 255, 0.6); */
    /* background: rgba(85, 25, 140, 0.6); */
}

#logo {
    /* height: 75px; */
    height: calc(72px + 58 * (100vw - 769px) / 2048);
    transform: translateX(2px) rotate(-2deg);
    opacity: 0.65;
}

/* VIEW TRANSITIONS */

.content {
    padding: 10vw 22.5vw;
    /* display: flex; */
    /* flex-direction: row; */
    width: 100vw;
    height: unset;
    min-height: calc(100vh - 20vw);
}

.previous, .current, .next {
    position: fixed;
    display: flex;
    top: 0;
    width: 100vw;
    height: 100vh;
    /* background: rgba(255, 255, 255, 0.325); */
    /* background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.325), transparent 22.5%, transparent 77.5%, rgba(255, 255, 255, 0.325));     */
    transition: left 0.8s, width 0.8s, transform 0.8s;
}

/* .current-details, .next-details { */
    /* background: rgba(64, 152, 207, 1); */
    /* background-image: linear-gradient(90deg, transparent, rgba(64, 152, 207, 1) 11.25%); */
    /* background-image: linear-gradient(90deg, transparent, rgba(215, 215, 215, 1) 11.25%);     */
/* } */

#About {
    max-height: 100vh;
}

#About + .bottom-padding {
    height: 0;
}

/* #About, #Skills, #Projects, #Contact {
    width: 100%;
} */

.bottom-padding {
    width: 100%;
    height: 15vw;
}

.scrollbar-cover {
    position: absolute;
    z-index: 1000;
    top: 0;
    right: 0;
    bottom: 0;
    width: 20px;
    /* background: #66D; */
    display: none;
}

/*

fully responsive css values:

property: calc( minimum px + range * (viewport width - minimum screen width px) / max screen width);
font-size: calc(20px + 10 * (100vw - 769px) / 2048);

font-size starts at 20px at vewport width of 769px and ranges to 30px at viewport width 2048px

*/

@media(min-width: 769px) {
        
    .previous {
        /* left: -150vw; */
        left: 0;
        /* transform: translateX(-162.5vw); */
        transform: translateX(-100vw);
        overflow: hidden;
    }

    .current {
        left: 0;
        overflow-x: hidden;
        max-height: none;
        -ms-overflow-style: none;
        transform: translateX(0);
    }

    .next {
        /* left: 150vw; */
        left: 0;
        /* transform: translateX(162.5vw); */
        transform: translateX(100vw);
        overflow: hidden;
    }

    .mobile-only {
        display: none;
    }

    /* RESPONSIVE DESKTOP FONT SIZES */

    h1 {
        /* font-size: 3rem; */
        font-size: calc(48px + 32 * (100vw - 769px) / 2048);
    }

    h2 {
        /* font-size: 2.25rem; */
        font-size: calc(36px + 12 * (100vw - 769px) / 2048);
    }

    h3 {
        font-size: calc(28px + 11 * (100vw - 769px) / 2048);
    }

    h4 {
        /* font-size: 1.5rem; */
        font-size: calc(20px + 10 * (100vw - 769px) / 2048);
    }

    h5 {
        /* font-size: 1.25rem; */
        font-size: calc(16px + 10 * (100vw - 769px) / 2048);
    }

    h6 {
        font-size: calc(16px + 8 * (100vw - 769px) / 2048);
    }

    h1, h2, h3, h4, h5 {
        /* margin-bottom: 1.75rem; */
        margin-bottom: calc(28px + 32 * (100vw - 769px) / 2048);
        line-height: 130%
    }

    p {
        /* font-size: 1.175rem; */
        font-size: calc(16px + 6 * (100vw - 769px) / 2048);;
        line-height: 145%;
        /* margin-bottom: 1rem; */
        margin-bottom: calc(12px + 36 * (100vw - 769px) / 2048);
    }

    a:hover {
        cursor: pointer;
    }

}

@media(max-width: 768px) {

    html, body {
        height: auto;
    }

    #backdrop-filter {
        background-image: none;
    }
    
    #root {
        height: 100%;
        background: #F54;
        /* background: rgba(255, 255, 255, 0.325); */
    }

    #View {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #logo-wrapper, #scrollbar {
        display: none;
    }
    
    .previous-left-margin, .previous-right-margin, .current-left-margin, .current-right-margin, .next-left-margin, .next-right-margin {
        display: none
    }
    
    .content {
        display: flex;
        flex-direction: column;
        /* margin: 0rem 2rem 5rem; */
        margin-top: 0;
        width: calc(100% - (24px + 48 * (100vw - 360px)) * 2);
        padding-left: calc(24px + 48 * (100vw - 360px) / 768);
        padding-right: calc(24px + 48 * (100vw - 360px) / 768);
        margin-bottom: 5rem;
        /* padding-left: 1rem;
        padding-right: 1rem; */
        background: transparent;
    }

    .current, .previous, .next {
        position: static;
        height: auto;
        overflow: visible;
        transition: transform 0.6s;
    }

    .current-beneath {
        display: none;
    }

    .current-details, .next-details {
        position: fixed;
        top: 0;
        right: 0;
    }
    
    .current-details {
        height: 100vh;
        /* left: 0; */
        width: 100%;
        opacity: 1;
        overflow: scroll;
    }
    
    .next-details {
        /* left: 100vw; */
        width: 0;
        opacity: 0;
    }
    
    .details-content .image {
        margin-bottom: 20vh;
    }

    .details-content > a {
        padding: 1rem;
    }
    
    .details-content > a:last-of-type {
        transform: translateY(-16vh);
        text-align: center;
    }
    /* #logo-wrapper, #scrollbar, .previous, .next {
        display: none;
    }

    #previous-view, #next-view {
        display: flex;
        position: fixed;
        top: 0;
    }

    #previous-view {
        left: -100vw;
    }

    #next-view {
        left: 100vw;
    }

    .previous, .current, .next {
        transition: 0.1s;
        background-image: none;
    } */

    /* RESPONSIVE FONT SIZES */

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.25rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1.5rem;
    }

    h1, h2, h3, h4 {
        margin-bottom: 1.75rem;
        line-height: 130%
    }

    p {
        font-size: 1.175rem;
        line-height: 145%;
        margin-bottom: 1rem;
    }


}
