
@import url("https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css");

@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');
@import url('https://fonts.googleapis.com/css?family=Mukta+Mahee');
@import url('https://fonts.googleapis.com/css?family=Cousine');
@import url('https://fonts.googleapis.com/css?family=Fira+Mono');

html,
body,
#root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: rgba(64, 152, 207, 1);
    font-family: 'Mukta Mahee', Cousine, 'Fira Mono', 'Ubuntu Mono', Roboto;
}

/*
* {
    border: 1px solid black !important;
}
*/

a {
    text-decoration: none;
    color: #000;
}

::-webkit-scrollbar {
    display: none;
}

/* THEME */

#logo-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 12.5vw;
    height: 12.5vw;
    /* responsive heights */
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo-circle {
    /* height: 85px; */
    /* width: 85px; */
    height: calc(84px + 24 * (100vw - 769px) / 2048);
    width: calc(84px + 24 * (100vw - 769px) / 2048);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.25);
    /* background: rgba(15, 230, 255, 0.6); */
    /* background: rgba(85, 25, 140, 0.6); */
}

#logo {
    /* height: 75px; */
    height: calc(72px + 24 * (100vw - 769px) / 2048);
    transform: translateX(2px) rotate(-2deg);
    opacity: 0.75;
}

/* VIEW TRANSITIONS */

.previous-left-margin, .previous-right-margin, .current-left-margin, .current-right-margin, .next-left-margin, .next-right-margin {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 22.5vw;
    min-width: 22.5vw;
    height: 100vh;
    /* background: rgba(0,0,0,0.25); */
    transition: left 0.8s;
}

.previous-left-margin, .current-left-margin, .next-left-margin {
    background-image: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.325))
}

.previous-right-margin, .current-right-margin, .next-right-margin {
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.325), transparent)
}

.previous-left-margin {
    left: -150vw;
}

.previous-right-margin {
    left: -72.5vw;
}

.next-left-margin {
    left: 150vw;
}

.next-right-margin {
    left: 227.5vw;
}

.details-left-left-margin {
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.325), transparent);
    left: -22.5vw;
    transition: left 0.4s 0.4s;
}

.details-left-margin {
    background-image: linear-gradient(90deg, transparent, rgba(64, 152, 207, 0.25), rgba(64, 152, 207, 1));
}

.details-right-margin {
    background-image: none;
    background: rgb(64, 152, 207);
}

.current-left-margin {
    left: 0;
}

.current-right-margin {
    left: 77.5vw;
}

.content {
    padding: 10vw 0;
    margin: 0 22.5vw;
    display: flex;
    flex-direction: column;
    height: unset;
    min-height: calc(100vh - 20vw);
    background: rgba(255, 255, 255, 0.325);
}

.details-content {
    background: rgba(64, 152, 207, 1);
}

.previous, .current, .next {
    transition: left 0.8s, width 0.8s;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    /* display: flex; */
    /* align-content: stretch; */
    /* justify-content: stretch; */
}

.previous {
    left: -150vw;
    overflow: hidden;
}

.current {
    left: 0;
    overflow: scroll;
    -ms-overflow-style: none;
}

.next {
    left: 150vw;
    overflow: hidden;
}

/*

fully responsive css values:

property: calc( minimum px + range * (viewport width - minimum screen width px) / max screen width);
font-size: calc(20px + 10 * (100vw - 769px) / 2048);

font-size starts at 20px at vewport width of 769px and ranges to 30px at viewport width 2048px

*/

@media(min-width: 769px) {

    .mobile-only {
        display: none;
    }

    /* RESPONSIVE DESKTOP FONT SIZES */

    h1 {
        /* font-size: 3rem; */
        font-size: calc(48px + 32 * (100vw - 769px) / 2048);
    }

    h2 {
        /* font-size: 2.25rem; */
        font-size: calc(36px + 12 * (100vw - 769px) / 2048);
    }

    h3 {
        font-size: calc(28px + 11 * (100vw - 769px) / 2048);
    }

    h4 {
        /* font-size: 1.5rem; */
        font-size: calc(20px + 10 * (100vw - 769px) / 2048);
    }

    h5 {
        /* font-size: 1.25rem; */
        font-size: calc(18px + 8 * (100vw - 769px) / 2048);
    }

    h1, h2, h3, h4, h5 {
        /* margin-bottom: 1.75rem; */
        margin-bottom: calc(28px + 32 * (100vw - 769px) / 2048);
        line-height: 130%
    }

    p {
        /* font-size: 1.175rem; */
        font-size: calc(16px + 6 * (100vw - 769px) / 2048);;
        line-height: 145%;
        /* margin-bottom: 1rem; */
        margin-bottom: calc(12px + 10 * (100vw - 769px) / 2048);
    }

}

@media(max-width: 768px) {

    html, body {
        height: auto;
    }
    
    #root {
        height: 100%;
        background: rgba(255, 255, 255, 0.325);
    }
    
    .previous-left-margin, .previous-right-margin, .current-left-margin, .current-right-margin, .next-left-margin, .next-right-margin {
        display: none
    }
    
    .content {
        /* margin: 0rem 2rem 5rem; */
        margin-top: 0;
        margin-left: calc(16px + 48 * (100vw - 360px) / 768);
        margin-right: calc(16px + 48 * (100vw - 360px) / 768);
        margin-bottom: 5rem;
        background: transparent;
    }

    .current {
        position: static;
        height: auto;
        overflow: visible;
    }

    #logo-wrapper, #scrollbar, .previous, .next {
        display: none;
    }

    /* RESPONSIVE FONT SIZES */

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.25rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1.5rem;
    }

    h1, h2, h3, h4 {
        margin-bottom: 1.75rem;
        line-height: 130%
    }

    p {
        font-size: 1.175rem;
        line-height: 145%;
        margin-bottom: 1rem;
    }


}
