
.links {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: calc(48px + 112 * (100vw - 769px) / 2048);
}

.link {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 9rem;
    width: 5rem;
    margin: 1rem;
}

.link i, .link img {
    font-size: 4.25rem;
    height: 4rem;
}

.link * {
    color: black;
    opacity: 0.75;
    /* svg fill color located in svg file */
}
