
.more {
    margin-top: 5rem;
}

.ellipsis {
    line-height: 130%;
    /* padding matches 1rem margin bottom of normal paragraphs, margin-top & padding-top cancel out */
    margin-top: -0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    text-align: center;
}

.ellipsis:hover {
    cursor: pointer;
}

@media(max-width: 768px) {

    #mobile-logo {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 3rem 0;
    }

    #mobile-logo-circle {
        height: 250px;
        width: 250px;
        border-radius: 200px;
        background: rgba(255, 255, 255, 0.3);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #mobile-logo-circle img {
        height: 225px;
        transform: translateX(6px) rotate(-2deg);
        opacity: 0.675;
    }

}
