
#About {
    margin-bottom: -10vh;
}

.landing {
    min-height: calc(100vh - 10vw);
    text-align: center;
}

.landing h1 {
    transform: translateY(25px);
}

.landing h4 {
    line-height: 1.5;
    transform: translateY(37px);
}

#underscore {
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-duration: 0.7s;
    transform: scale(1.125)
}

.more {
    margin-top: 5rem;
}

.more p {
    margin-bottom: calc(36px + 30 * (100vw - 769px) / 2048);
}

.ellipsis {
    line-height: 130%;
    /* padding matches 1rem margin bottom of normal paragraphs, margin-top & padding-top cancel out */
    margin-top: -0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    text-align: center;
}

.ellipsis:hover {
    cursor: pointer;
}

@media(max-width: 768px) {

    #mobile-logo {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 3rem 0;
    }

    #mobile-logo-circle {
        height: 250px;
        width: 250px;
        border-radius: 200px;
        background: rgba(255, 255, 255, 0.3);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #mobile-logo-circle img {
        height: 225px;
        transform: translateX(6px) rotate(-2deg);
        opacity: 0.675;
    }

}

@keyframes blink {
    from {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
