
@import url("https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css");


html,
body,
#root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #CCC;
}
::-webkit-scrollbar {
    display: none;
}

.previous, .current, .next {
    transition: left 1s;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
}

.previous {
    left: -200vw;
    overflow: hidden;
    opacity: 0;
}

.current {
    left: 0;
    overflow: scroll;
}

.next {
    left: 200vw;
    overflow: hidden;
    opacity: 0;
}

.content {
    padding: 7.5vw 20vw;
}
