
.project-details {

}

.project-details h4 {
    position: relative;
    margin: 0;
    cursor: default;
    z-index: 1;
}

.project-details h3 {
    opacity: 0.675;
    font-style: italic;
}

.project-details .description {
    margin: 1rem 0 2rem;
}

.description a {
    color: rgba(255, 255, 255, 0.625);
}
