#Menu {
    position: fixed;
    right: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    /* background: rgba(95, 170, 215, 1); */
    /* background: rgba(215, 215, 215, 1); */
    /* overflow: hidden; */
    /* background: #CCC; */
    transition: top 0.3s cubic-bezier(0.65, 0.15, 0, 1);
    z-index: 2;
}

#Menu-Backdrop {
    /* position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.125);
    background-image: url(https://images.unsplash.com/photo-1502790671504-542ad42d5189?ixlib=rb-0.3.5&s=da4d3b0a41041f60ee409664746ca2d6&auto=format&fit=crop&w=600&q=60);
    background-size: cover;
    filter: blur(8px);
    z-index: 2.5; */
}

.menu-link {
    position: relative;
    margin: 0 20vw;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* background: rgba(0,0,0,0.1); */
    /* transition: background-color 1s; */
    transition: transform 0.4s cubic-bezier(.65,.15,0,1);
}

.menu-link-text {
    /* font-size: 2rem; */
    color: #FFF;
    margin: 0;
    position: relative;
    transition: color 0.4s cubic-bezier(.65,.15,0,1);    
    z-index: 4;
}

.selected .menu-link-text {
    color: rgba(255, 255, 255, 0.5);
}

.slide {
    width: 100%;
    height: 0;
    opacity: 0.2;
    transition: right 0.4s cubic-bezier(.65,.15,0,1), left 0.4s cubic-bezier(.65,.15,0,1);
}

.slide-right {
    position: absolute;
    top: 0;
    border-left: 3rem solid rgba(0,0,0,0);
    border-bottom: 9rem solid #000;
    right: -32.5%;
    /* right: -80%; */
}

.slide-left {
    position: absolute;
    bottom: 0;
    border-right: 3rem solid rgba(0,0,0,0);
    border-top: 9rem solid #000;
    left: -32.5%;
    /* left: -80%; */
}

.closed {
    position: fixed;
    top: -100vh;
}

.open {
    position: fixed;    
    top: 0;
    bottom: 0;
}

.closed .menu-link {
    transform: translateY(-10rem);
    transition-delay: 0.4s;
    transition-duration: 0;
}

.open .menu-link {
    transform: translateY(0rem);
}

.open .menu-link:first-of-type {
    transition-delay: 0.2s;
}

.open .menu-link:nth-of-type(2) {
    transition-delay: 0.15s;
}

.open .menu-link:nth-of-type(3) {
    transition-delay: 0.1s;
}

.open .menu-link:nth-of-type(4) {
    transition-delay: 0.05s;
}

@media(min-width: 769px) {

    .menu-link {
        padding: calc(32px + 12 * (100vw - 769px) / 2048);
    }

    .menu-link:hover .menu-link-text {
        color: black;
    }
    
    .menu-link:hover .slide-left {
        left: -85%;
        /* left: -31%; */
    }
    
    .menu-link:hover .slide-right {
        right: -85%;
        /* right: -31%; */
    }

    .selected:hover .menu-link-text {
        color: rgba(0, 0, 0, 0.5);
    }

    /* .selected:hover .slide-left {
        left: -32.5%;
    } */

    /* .selected:hover .slide-right {
        right: -32.5%;
    } */

}

@media(max-width: 768px) {

    #Menu {
        background: #F54;
    }

    .menu-link {
        margin: 0 7.5vw;
    }

    .menu-link .slide-left {
        left: -25%;
    }

    .menu-link .slide-right {
        right: -25%;
    }

}
